body {
    font-family: Arial, Helvetica, sans-serif;
    color: #525568;
    margin: 40px;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

/* Динамічний фон з відступами по краях */
.dynamic-background {
    position: fixed;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background-image: url('fon1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2; /* ховаємо під усе */
    transition: transform 0.1s ease-out;
}

h1 {
    color: #323a4b;
    text-align: center;
}

p {
    line-height: 1.6;
    text-align: justify;
}

img {
    width: 200px;
    height: auto;
    border-radius: 25%;
    object-fit: cover;
    display: block;
    border: 3px solid #323a4b;
}

ul {
    width: 20%;
    background-color: rgb(116, 121, 168);
    border-radius: 8px;
    padding: 20px;
}

.mouse-glow {
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    filter: blur(50px);
    position: fixed;
    pointer-events: none;
    z-index: -1; /* щоб світло було поверх фону, але під текстом */
}